header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    background: #0000007d;
}
.navbar navbar-expand-lg{
position: fixed;
/* top: 0; */
}
header a.nav-link {
    color: #fff;
    font-weight: 700;
}
.logo_text h2 {
    color: #fff;
    font-size: 47px;
}
.logo {
    width: 73%;
    height: 60px;
    overflow: hidden;
    object-fit: cover;
}
.logo img {
    width: 100%;
    height: 63px;
} 
.slider {
    background-image: url("./Image/frt.jpg");
    position: relative;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    top: -67px;
}
section.slider:before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #010844, transparent);
}
section.slider button {
    border: 1px solid #fb383b;
    padding: 14px 25px;
    border-radius: 10px;
    background: #fb383b;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}
section.slider h1 {
    font-size: 88px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}
section.slider h5 {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 15px;
}
.slider_text {
    position: absolute;
    top: 160px;
}
.content_image {
    width: 100%;
    overflow: hidden;
    height: 369px;
    border-radius: 50%;
}
section.second {
    padding: 57px 0;
    background: #8b8989;
    position: relative;
    top: -67px;
}
.content_image {
    width: 33%;
    overflow: hidden;
    height: 462px;
    border-radius: 50%;
    position: absolute;
    top: -141px;
    right: 86px;
}
.content {
    border: 1px dotted #fff;
    padding: 18px 18px;
    border-radius: 28px;
    color: #000;
    background: #e8cc8a;
    text-align: justify;
}
.content_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner {
    background-image: url("./Image/frt.jpg");
    position: relative;
    height: 243px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
.bread_crumb {
    color: #fff;
    text-align: center;
    margin: 65px 0 0 0;
}
.cover_img {
    width: 100%;
    /* overflow: hidden; */
    height: 179px;
    object-fit: cover;
    position: relative;
    border-radius: 16px;
}
.cover_img img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}
.cover_text {
    position: absolute;
    z-index: 99999;
    bottom: -66px;
    background: #2f2f2f;
    left: 29px;
    color: #fff;
    padding: 33px 11px 0px 32px;
    border-radius: 13px;
    width: 79%;
    height: 138px;
}
.mb {
    margin-bottom: 105px;
}
section.best_plan {
    padding: 58px 0px;
}
.side {
    width: 100%;
    overflow: hidden;
    height: 300px;
    border-radius: 15px;
}
.side img {
    width: 100%;
    height: 100%;
}
.ceo{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    margin: 30px;
    align-items: center;
    border-radius: 20px;
    background-color: blueviolet;

}

.ceo img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-right: 15px;
    
}
.grp{
    display: flex;
    flex-direction: row;
    margin: 30px;
    justify-content: space-around;
    border: 1px solid black;
    height: 450px;
    width: 100%;
    border-radius: 15px;
    background-color: aquamarine;
}
.pol{
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    justify-content: space-around;
    border: 1px solid black;
    height: 650px;
    width: 100%;
    border-radius: 15px;
    background-color: brown;
}
.pol img{
    height: 350px;
    width: 380px;
    border-radius: 50px;
    padding: 10px;
}
.grp3{
    display: flex;
    flex-direction: row;
    
    margin: 30px;
    margin-left:160px;
    align-items: center;
    border-radius: 20px;
    text-align: center;
}
.cmp1 img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 15px;
    
}
   
.grp3 img{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.grp3 p{
    margin-left: 20px;
}
.iti h1{
    text-align: center;
    
}


.cls2 section body{
    background-color: #fb383b;
}
.section{
    margin-top: 100px;
    margin-left:200px;
    margin-right: 150px;
    display: flex;
    justify-content: space-between;
  }
  .left-div{
    height: 650px;
    width: 700px;
    img{
      height: 50px;
      width: 50px;
    }
    
  }
  .left-div p{
    line-height: 1.6em;
  }
  .left-div h2{
    font-family: 'Rubik', sans-serif;
    font-size: 60px;
  }
  .right-div{
    height: 650px;
    width: 700px;
    
  }
  .heading{
    margin-top: 25px;
  }
  .visit{
    margin-top: 25px;
    display: flex;
  }
  
  .email{
    margin-top: 25px;
    display: flex;
  }
  .call{
    margin-top: 25px;
    display: flex;
  }
  
  /* ------- Left-div----------*/
  .right-div{
    margin-left: 10px;
  }
   .right-div input{
    width: 45%;
    height: 3.5rem;
  border-radius: 10px;
  margin: 5px;
  padding-left:15px ;
  background-color: beige;
  border-style: none;
  }
  .right-div input:focus{
  border: .1em solid red;
  outline: .1em solid red;
  }
  .right-div textarea{
  width: 92%;
  height: 15rem;
  border-radius: 10px;
  margin: 5px;
  padding: 15px 15px;
  background-color: beige;
  border-style: none;
  }
  .right-div textarea:focus{
    border: .1em solid red;
    outline: .1em solid red;
    }
  .button1{
    width: 200px;
    height: 4rem;
    background-color: #ce1616;
    border: none;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    margin: 5px;
  }
  .button1:hover{
    background-color: #8d2626;

  }  
  .section2{
  
    background-image: url("./Image/asi.jpg");
    background-size: cover; /* Full width and 50% height */
    background-repeat: no-repeat;
   /* Ensure the body itself covers the full viewport height */
    /*background-position: center top;*/
    font-family: 'Teko', sans-serif;
    height: 85vh;
  padding: 10px;
  }
  .last{
    margin: 150px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    
  }
  .last-1{
    height: 250px;
    width: 400px;
    
   margin: 10px;
   color: white;
   line-height: 3.5rem;
  }
  .last-1 h1{
  font-weight: 800;
  font-size: 30px;
  
  }
  .last-2{
    height: 250px;
    width: 400px;
   
    margin: 10px;
    color: white;
  }
  .last-2 h1{
    font-weight: 800;
    font-size: 20px;
    }
  .last-2 ul{
    list-style-type: none;
    padding: 10px;
    line-height: 3rem;
    
  }
  .last-2 ul li a{
    color: beige;
  }
  .last-3{
    height: 250px;
    width: 400px;
   
    margin: 10px;
    color: white;
  }
  .last-3 h1{
    font-weight: 800;
    font-size: 20px;
    }
  .last-3 img{
    height: 20px;
    width: 20px;
  }
  .p1{
    line-height: 1rem;
  }
  .last-3 p{
    margin-top: 5px;
    line-height: 2.5rem;
  }
  .last-4{
    height: 250px;
    width: 400px;
    margin: 10px;
    color: white;
    line-height:2.5rem;
  }
  .last input{
    margin-top: 20px;
    width: 100%;
    height:3rem;
    border-radius: 10px;
    padding: 10px;
    background-color: black;
  
  }
  
  footer{
    color: white;
    text-align: center;
    margin-top: 120px;
  }